<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es" lang="es">

<head>
	<title>{{="Gextiendas"}} verificación</title>
	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
</head>

<body>
	
	<p>Hola, {{=email}}</p>
	</p>
	<p>Pulsa el siguiente enlace para activar tu acceso en {{="Gextiendas:"}}</p>
	<a href="{{=text}}">{{=text}}</a>

	<p>Si no te funciona el enlace, copia y pega la dirección en la barra de direcciones de tu navegador.</p>
	<p>Si hubiera algún problema, ponte en contacto con nuestro equipo de soporte técnico en activaciones@gextiendas.es</p>
	<p>Hacemos esta comprobación para saber que realmente eres tú el que quiere activar el acceso. Disculpa las molestias.</p>
	<p>Recuerda que a partir de ahora podrás acceder a todas nuestras publicaciones con los datos de esta misma cuenta.</p>
	<p>¡Un saludo!</p>
	<p>El equipo de Gextiendas</p>
	<p>--</p>
	<p><a href="http://www.gextiendas.es">www.gextiendas.es</a> | Expertos en tiendas online</p>

	
</body>

</html>
