{{extend 'layout_grove.html'}}
  
<div class="container">


	<div class="jumbotron">    
		
	        <div class="feature">
	        	<h1>Proceso de {{="verificación"}}</h1>
                <p>Por favor revisa tu correo electrónico</p>
				<p> Te hemos enviado un email para que puedas verificar y activar tu cuenta.</p>
				<p> Si no te ha llegado, revisa tu carpeta de <a href="https://es.wikipedia.org/wiki/Spam">SPAM</a> o si en el plazo de 1 hora no te ha llegado aún,  <a href="/contactus">contacta con nosotros</a></p>

            </div>
		
	</div>
</div>




