{{extend 'layout_grove.html'}}
<div class="widewrapper pagetitle">
    <div class="container">
      <h1>{{="Política de Cookies de Gextiendas"}}</h1>
  </div>
</div>

<section class="section" role="main">
  <div class="container content">


    {{=XML("""

			<p>En gextiendas usamos cookies (pequeños archivos de texto que el servidor envía al ordenador de quien accede a la página). Se trata de una técnica usada de manera habitual en Internet para llevar a cabo determinadas funciones que son consideradas imprescindibles para el correcto funcionamiento y visualización del sitio. </p>

			<p>Las cookies puede ser, según su persistencia en el sistema:</p>
			<ul class="grove-list">
			  <li><strong>Cookies de sesión:</strong> Son un tipo de cookies diseñadas para recabar y almacenar datos mientras el usuario accede a un a página web.</li>
			  <li><strong>Cookies permanentes:</strong> Son un tipo de cookies en el que los datos siguen almacenados en el terminal y pueden ser accedidos y tratados durante un periodo definido por el responsable de la cookie, y que puede ir de unos minutos a varios años.</li>
			</ul>

			<p>Según su finalidad, pueden ser:</p>

			<ul class="grove-list">
				<li><strong>Cookies técnicas:</strong> Son aquéllas que permiten al usuario la navegación a través de una página web, plataforma o aplicación y la utilización de las diferentes opciones o servicios que en ella existan como, por ejemplo, controlar el tráfico y la comunicación de datos, identificar la sesión, acceder a partes de acceso restringido, recordar los elementos que integran un pedido, realizar el proceso de compra de un pedido, realizar la solicitud de inscripción o participación en un evento, utilizar elementos de seguridad durante la navegación, almacenar contenidos para la difusión de videos o sonido o compartir contenidos a través de redes sociales.</li>

				<li>Cookies de <strong>personalización:</strong> Son aquéllas que permiten al usuario acceder al servicio con algunas características de carácter general predefinidas en función de una serie de criterios en el terminal del usuario como por ejemplo serian el idioma, el tipo de navegador a través del cual accede al servicio, la configuración regional desde donde accede al servicio, etc.</li>
				<li>Cookies de <strong>análisis:</strong> Son aquéllas que permiten al responsable de las mismas, el seguimiento y análisis del comportamiento de los usuarios de los sitios web a los que están vinculadas. La información recogida mediante este tipo de cookies se utiliza en la medición de la actividad de los sitios web, aplicación o plataforma y para la elaboración de perfiles de navegación de los usuarios de dichos sitios, aplicaciones y plataformas, con el fin de introducir mejoras en función del análisis de los datos de uso que hacen los usuarios del servicio.</li>
				<li>Cookies <strong>publicitarias:</strong> Son aquéllas que permiten la gestión, de la forma más eficaz posible, de los espacios publicitarios que, en su caso, el editor haya incluido en una página web, aplicación o plataforma desde la que presta el servicio solicitado en base a criterios como el contenido editado o la frecuencia en la que se muestran los anuncios.</li>
				<li>Cookies de <strong>publicidad comportamental:</strong> Son aquéllas que permiten la gestión, de la forma más eficaz posible, de los espacios publicitarios que, en su caso, el editor haya incluido en una página web, aplicación o plataforma desde la que presta el servicio solicitado. Estas cookies almacenan información del comportamiento de los usuarios obtenida a través de la observación continuada de sus hábitos de navegación, lo que permite desarrollar un perfil específico para mostrar publicidad en función del mismo.</li>
			</ul>




			<h2>Cookies en Gextiendas</h2>

			<p>Las cookies utilizadas en el sitio web tienen, en todo caso, carácter temporal y con la única finalidad de hacer más eficaz su transmisión ulterior. En ningún caso se utilizarán las cookies para recoger información de carácter personal o privado de los visitantes.</p>

			<p>
				
				Gextiendas utiliza en este sitio web las siguientes tipos de cookies

				<ul class="grove-list">
					<li>cookies <strong>técnicas</strong> estrictamente necesarias para la prestación de determinados servicios solicitados expresamente por el usuario: si se desactivan estas cookies, no podrá recibir correctamente nuestros contenidos y servicios</li>
					<li>cookies <strong>analíticas</strong> (para el seguimiento y análisis estadístico del comportamiento del conjunto de los usuarios), publicitarias (para la gestión de los espacios publicitarios en base a criterios como la frecuencia en la que se muestran los anuncios) y comportamentales (para la gestión de los espacios publicitarios según el perfil específico del usuario): si se desactivan estas cookies, el sitio web podrá seguir funcionando sin perjuicio de que la información captada por estas cookies sobre el uso de nuestra web y sobre el éxito de los anuncios mostrados en ella permite mejorar nuestros servicios y obtener ingresos que nos permiten ofrecerle de forma gratuita muchos contenidos.</li>
				</ul>
			</p>


			<p>Es posible que actualicemos la política de cookies de esta página web, por lo que le recomendamos revisar esta política cada vez que acceda a la presente página web, con el objetivo de estar informado sobre cómo, y para qué, usamos las cookies.</p>

			<p>Estas son las cookies que usamos en Gextiendas</p>

			<table class="table">
				<thead>
					<tr>
						<th><b>Nombre</b></th>
						<th><b>Servidor</b></th>
						<th><b>Finalidad</b></th>
						<th><b>Propia/Terceros</b></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>session_id_gextiendas</td>
						<td>www.gextiendas.es</td>
						<td>Esta cookie se utiliza para la identificación de sesión del sistema. Es una cookie estrictamente técnica.</td>
						<td>Propia</td>
					</tr>
					<tr>
						<td>uvc</td>
						<td>.addtoany.com</td>
						<td>El plug-in addtoany de redes sociales utiliza esta cookie en todas sus páginas </td>
						<td>Terceros</td>
					</tr>
					<tr>
						<td>_utma</td>
						<td>.static.addtoany.com</td>
						<td>Esta cookie ha de estar fijada de forma obligatoria para el correcto funcionamiento de Google Analytics, y se trata de una cookie persistente que caduca a los 2 años.</td>
						<td>Terceros</td>
					</tr>
					<tr>
						<td>_utmb</td>
						<td>.static.addtoany.com</td>
						<td>Se utiliza para saber el tiempo que pasa el usuario en nuestra página y el número de páginas que visita, o lo que es lo mismo lo que duran las visitas/sessiones de las visitas.</td>
						<td>Terceros</td>
					</tr>
					<tr>
						<td>_utmc</td>
						<td>.static.addtoany.com</td>
						<td>Esta cookie se utiliza de forma conjunta con __utmb para saber si se establece una nueva sesión para el usuario. </td>
						<td>Terceros</td>
					</tr>
					<tr>
						<td>_utmz</td>
						<td>.static.addtoany.com</td>
						<td>Está cookie se utiliza para realizar la atribución de la visita, es decir desde dónde y cómo ha llegado el usuario a nuestra web.</td>
						<td>Terceros</td>
					</tr>
					<tr>
						<td>page_services</td>
						<td>.static.addtoany.com</td>
						<td>Está cookie se utiliza para distinguir el sitio donde se ha compartido un enlace.</td>
						<td>Terceros</td>
					</tr>
				</tbody>
			</table>


			<h2>Cookies de terceros</h2>

			<p>Las cookies de terceros son las cookies que se instalan en un sitio web que no es el que se está visitando en el momento actual. Algunas empresas de plublicidad pueden usar estos tipos de cookies para realizar un seguimiento de los usuarios, siendo estas terceras empresas las que realizan la instalación de dichas cookies.</p>

			<h3>Servicios de Google Analytics</h3>

			<p>El sitio utiliza el servicio Google Analytics, que es prestado por Google, Inc., entidad cuya oficina principal está en 1600 Amphitheatre Parkway, Mountain View (California), CA 94043, Estados Unidos.</p>

			<p>Google Analytics utiliza cookies para ayudarnos a analizar el uso que hacen los usuarios del sitio. La información que genera la cookie acerca de tu uso del sitio (incluyendo tu dirección IP) será directamente transmitida y archivada por Google en sus servidores de Estados Unidos. Google usará esta información por cuenta nuestra con el propósito de seguir la pista de tu uso del sitio, recopilando informes de la actividad del sitio y prestando otros servicios relacionados con la actividad del sitio y el uso de Internet. Google podrá transmitir dicha información a terceros cuando así se lo requiera la legislación, o cuando dichos terceros procesen la información por cuenta de Google.</p>

			<p>Google analytics no recopila datos personales de los visitantes de esta página web. Las principales funcione de las cookies de google son:</p>

				<ul class="grove-list">
					<li>Determinar el dominio a estudiar.</li>
					<li>Distinguir entre usuarios únicos.</li>
					<li>Recordar el numero y la hora de las visitas anteriores.</li>
					<li>Recopilar información sobre el origen del tráfico.</li>
					<li>Determinar la duración de una sesión.</li>
					<li>Determinar el valor de las variables personalizadas de seguimiento.</li>
				</ul>
			<p>Si lo deseas puedes rechazar el tratamiento de los datos o la información rechazando el uso de cookies mediante la selección de la configuración apropiada de tu navegador o rechazando nuestra política de cookies. Sin embargo, si lo haces, puede ser que no puedas usar la plena funcionabilidad de este sitio. Al utilizar este sitio consientes el tratamiento tu información por Google en la forma y para los fines arriba indicados. </p>

			<p>Las cookies utilizadas por google, y sus características son:

				<ul class="grove-list">
					<li>__utma: Esta cookie tiene una duración de dos años, y es utilizada para distinguir la sesión de usuario.</li>
					<li>__utmb: Esta cookie tiene una duración de 30 minutos. Se usa para determinar nuevas sesiones y/o visitas.</li>
					<li>__utmc: Esta cookie permanece activa mientras perdura la sesión del navegador. Es una cookie temporal para indicar si la sesión está abierta o cerrada. Ya no suele utilizarse.</li>
					<li>__utmz: Esta cookie tiene una duración de seis meses. Esta cookie se utiliza para calcular el tráfico que proviene de motores de búsqueda (orgánico y PPC), las campañas publicitarias en display y la navegación dentro de la misma web (enlaces internos).</li>
					<li>__utmv: Esta cookie tiene una duración de dos años, y es utilizada para almacenar datos obtenidos de registros, para posteriormente poder segmentarlos demográficamente.</li>
					<li>_ga: Esta cookie tiene una duración de dos años, y es utilizada para distinguir usuarios.</li>

				</ul>
			</p>
			<h3>Servicios de Addtoany.com</h3>
			<p>Obtener botones de compartir para sus visitantes del sitio web para compartir contenido en cualquier servicio de intercambio social. Más información sobre la privacidad de los datos recogidos por addtoany http://www.addtoany.com/privacy</p>


			<h2>Desactivación de Cookies</h2>

			<p>El usuario podrá en cualquier momento elegir qué cookies quiere que funcionen en este sitio web mediante:</p>

			<p>a) La configuración del navegador, por ejemplo:
				<ul>
					<li><a href="https://support.google.com/chrome/answer/95647?hl=es" target="_blank">Google Chrome</a></li>
					<li><a href="https://support.mozilla.org/es/kb/habilitar-y-deshabilitar-cookies-que-los-sitios-we" target="_blank">Mozilla Firefox</a></li>
					<li><a href="http://windows.microsoft.com/es-es/windows-vista/block-or-allow-cookies" target="_blank">Internet Explorer</a></li>
					<li><a href="http://support.apple.com/kb/ph5042?viewlocale=es_es&amp;locale=es_es" target="_blank">Safari</a></li>
					<li><a href="http://support.apple.com/kb/ht1677?viewlocale=es_es&amp;locale=es_es" target="_blank">Safari para IOS</a></li>
					<li><a href="https://support.google.com/chrome/answer/2392971?hl=es" target="_blank">Chrome para Android</a></li>
				</ul>
			</p>

			<p>b) Mediante herramientas de terceros:

			<p>Otras herramientas de terceros, disponibles on line, que permiten a los usuarios detectar las cookies en cada sitio web que visita y gestionar su desactivación, por ejemplo:</p>
				<ul class="grove-list">
					<li>ttp://www.ghostery.com</li>
					<li>http://www.youronlinechoices.com/es/</li>
				</ul>

			</p>


			""")}}






  </div>
</section>
