{{extend 'layout_grove.html'}}
<div class="widewrapper pagetitle">
    <div class="container">
      <h1>{{="Política de privacidad y confidencialidad de Gextiendas"}}</h1>
  </div>
</div>

<section class="section" role="main">
  <div class="container content">


    {{=XML("""
    		<p>
				Mediante el presente aviso, el titular del presente sitio web www.gextiendas.es propiedad de Gestión Experta de Sistemas Computacionales S.L. inscrita en el Registro Mercantil de Málaga T 5074, L 3981, F 36, S 8, H MA115900, I/A 1 (30.11.12) y domicilio en C/ Isabel la Católica Nº1, Bloque 7, 3ºB, Fuengirola, Málaga, informa a los usuarios de la página web de su <strong>política de protección de datos de carácter personal.</strong>
			</p>
			<p>
				La utilización del sitio web de Gestión Experta de Sistemas Computacionales S.L., y de cualquiera de los servicios que se incorporan en él supone la plena aceptación de las condiciones que se manifiestan en la política de privacidad que se expone.
			</p>
			<p>
				<h2>Recogida de datos y consentimiento para tratarlos</h2>
				En cumplimiento de la Ley 15/1999, de 13 de diciembre, de Protección de Datos de Carácter Personal, se informa de que los datos personales que se solicitan en nuestros formularios o que usted nos facilite de forma consciente y expresa por cualquier medio se incluirán en un fichero de datos personales, debidamente inscritos en la Agencia Española de Protección de Datos. cuyo responsable y titular es Gestión Experta de Sistemas Computacionales S.L.
			</p>
			<p> 
				Gestión Experta de Sistemas Computacionales S.L., como responsable del fichero y quienes intervengan en cualquier fase del tratamiento de los datos de carácter personal están obligados al secreto profesional respecto de los mismos y al deber de guardarlos. Obligaciones que subsistirán aun después de finalizar sus relaciones con el titular del fichero o, en su caso, con el responsable del mismo.
			</p>
			<p>
				Gestión Experta de Sistemas Computacionales S.L., no se responsabiliza del tratamiento de los datos personales de las páginas web a las que el usuario pueda acceder por medio de los distintos enlaces que contiene nuestra página web. 
			</p>
			<p>
				Esta página web se rige por la normativa exclusivamente aplicable en España, a la que quedan sometidas las personas, tanto nacionales como extranjeras, que utilicen esta web. 
			</p>
			<p>
				<h2>Finalidades del tratamiento</h2>
				Los datos que solicitamos son los adecuados, pertinentes y estrictamente necesarios para la finalidad con la que se recogen. Nunca serán utilizados con una finalidad diferente a aquella para la que han sido cedidos, y en ningún caso el usuario está obligado a facilitárnoslos. 
			</p>
			<p>
				A menos que específicamente se establezca lo contrario, se considerará necesario rellenar todos los campos de cada formulario. Para ello el usuario tendrá que completarlos con datos verdaderos, exactos y actualizados. El usuario será el único responsable de cualquier daño o perjuicio, directo e indirecto, que ocasione a Gestión Experta de Sistemas Computacionales S.L., o a cualquier tercero por rellenar los formularios con datos falsos, inexactos, incompletos, no actualizados o que contengan datos de terceros.
			</p>
			<p>
				<h2>Derecho de acceso, rectificación, oposición y cancelación de los datos personales del usuario.</h2>
				El consentimiento se entenderá prestado en tanto no comunique por escrito la revocación del mismo. El titular de los datos se compromete a comunicar por escrito a GESTIÓN EXPERTA DE SISTEMAS COMPUTACIONALES, S.L cualquier modificación que se produzca en los datos aportados.  Vd. podrá en cualquier momento ejercer el derecho de acceso, rectificación, cancelación y oposición en los términos establecidos en la Ley Orgánica 15/1999 ante el responsable del fichero, GESTIÓN EXPERTA DE SISTEMAS COMPUTACIONALES, S.L  en la siguiente dirección: C/ ISABEL LA CATÓLICA, Nº1, BLOQUE 7  3ºB, 29640, Fuengirola, (Málaga)
			</p>
			<p>
				<h2>Cesión de datos</h2>
			
			
				Informamos que los datos son tratados confidencialmente y utilizados exclusivamente en el ámbito interno de la empresa y para las finalidades indicadas, de modo que no los cedemos ni comunicamos a ningún tercero, a menos que el usuario nos autorice a ello expresamente y en los casos previstos legalmente. 
			</p>
			<p>
				<h2>Modificación de esta política de confidencialidad</h2>
				Esta política de confidencialidad ha sido establecida con fecha 10 de enero de 2013. GESTIÓN EXPERTA DE SISTEMAS COMPUTACIONALES S.L. se reserva el derecho en el futuro de modificar su política de protección de datos de acuerdo con su práctica empresarial. 
				En cualquier caso, si Gestión Experta de Sistemas Computacionales S.L. introdujera alguna modificación, el nuevo texto será publicado en esta misma página, donde el usuario podrá tener conocimiento actualizado de la política de protección de datos. 
			</p>

			""")}}



  </div>
</section>
