{{extend 'layout_grove.html'}}
<div class="widewrapper pagetitle">
    <div class="container">
        <h1>{{="Productos"}}</h1>
    </div>
</div>

<div class="widewrapper weak-highlight fill">
    <div class="container content fill">
        <div class="showroom-controls">
            <div class="links">Trabajos recientes</div>
        </div>
        <div class="row">
            <div class="showroom-item col-sm-3">
                <div class="image">
                    <img src="{{=URL('static','img/portfolio/port-webcams.png')}}" class="img-responsive" alt="Portfolio Image">
                    <a class="overlay" href="portfolio-inner.html">
                         <i class="glyphicons search"><i></i></i>
                         <div class="name">{{="Webcams para guarderías"}}</div>
                    </a>
                </div>
            </div>
            <div class="showroom-item col-sm-3">
                <div class="image">
                    
                    <img src="{{=URL('static','img/portfolio/port-stetic.png')}}" class="img-responsive" alt="Portfolio Image">
                    <a class="overlay" href="portfolio-inner.html">
                         <i class="glyphicons search"><i></i></i>
                         <div class="name">{{="Gestión de centros de estética"}}</div>
                    </a>
                </div>
            </div>
            <div class="showroom-item col-sm-3">
                <div class="image">
                    <img src="{{=URL('static','img/portfolio/port-despachocifrado.png')}}" class="img-responsive" alt="Portfolio Image">
                     <a class="overlay" href="portfolio-inner.html">
                         <i class="glyphicons search"><i></i></i>
                         <div class="name">{{="Gestión despachos de abogados"}}</div>
                     </a>
                </div>
            </div>                
            <div class="showroom-item col-sm-3">
                <div class="image">
                    <img src="{{=URL('static','img/portfolio/port-cms.png')}}" class="img-responsive" alt="Portfolio Image">  
                     <a class="overlay" href="portfolio-inner.html">
                         <i class="glyphicons search"><i></i></i>
                         <div class="name">{{="Sistema de gestión de contenidos (CMS)"}}</div>                         
                     </a>
                </div>
            </div>                        
        </div>

        <div class="clearfix"></div>
    </div>
</div>